body{
    background-color: white;
    color: white;
    margin: 0;
    font-size: 1.4rem;
    //SOUTH PARK FONT
    


    background-image: url(../img/fond1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
#itemNameP1{
    color: #ffbe0b;
}
#charInfoP1item{
    color: #ffbe0b;
}
#itemNameP2{
    color: #ffbe0b;
}
#charInfoP2item{
    color: #ffbe0b;
}
#ulList{
    display: none;
    padding-top: 10px;
    list-style: none;
    text-align: center;
    background-color: blueviolet;
    height: 150px;
    overflow: hidden;
    border-radius: 50px;
}
.container{
    width: 100%;
    
    
}
.imgBox{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    
    img{
        width: 1000px;
    }
}
.info{
    display: flex;
    justify-content: space-around;
    height: 100px;
    .life{
        margin-top: 10px;
        width: 20%;
        display: none;
    }
    .titleConsole{
        width: 40%;
    }
    
}
.hp{
    display: flex;
    p{
        margin-top: 2px;
        margin-right: 5px;
    }
}
.hp2{
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
    p{
        margin-top: 2px;
        margin-right: 5px;
    }
}
.ulList, li:nth-child(even){
    list-style: none;
    color: violet; 
    text-align: center;
}
.ulList, li:nth-child(odd){
    list-style: none;
    color: bisque; 
    text-align: center;
}
.lifeBar{
    display: flex;
    max-width: 300px;
    border-radius: 20px;
    overflow: hidden;
    .green{
        background-color: greenyellow;
    }
    .orange{
        background-color: orange;
    }
    .red{
        background-color: orangered;
    }
    .remainLife{
        height: 30px;
        width: 100%;
        
    }
    .lostLife{
        height: 30px;
        width: 0%;
        background-color: grey;
    }
}
.fight{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    .player{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .infoRaceItem{
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 100%;
            align-items: center;
            h2{
                margin: 0;
            }
            h3{
                margin-bottom: 0;
            }
            p{
                line-height: 20px;
                margin-top: 20px;
                margin-bottom: 0px;
                width: 70%;
                
            }
        }
        .pic{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            .imgBox{
                margin-top: 20px;
                width: 75%;
                overflow: hidden;
            }
            i{
                color: white;
                cursor: pointer;
                z-index: 1000;
                
            }
        }
        .confirm{
            
            button{
                font-family: "south";
                font-size: 2rem;
                border: none;
                background: none;
                outline: none;
                color: #90be6d;
                cursor: pointer;
                &:hover{
                    color: #43aa8b;
                }
            }
            #CP1item{
                display: none;
            }
            #CP2item{
                display: none;
            }
        }
        
    }
    
    .vs{
        width: 0%;
    }
}
.buttonGroup{
    
    display: none;
    justify-content: center;
    .buttonAction{
        width: 40%;
        display: flex;
        justify-content: center;
        button{
            font-family: "south";
                font-size: 3rem;
                border: none;
                background: none;
                outline: none;
        }
        .attack{
            color: #caffbf;
            &:hover{
                color: #90be6d;
            }
        }
        .heal{
            color: #fdffb6;
            margin-left: 20px;
            margin-right: 20px;
            &:hover{
                color: #f9c74f;
            }
        }
        .yield{
            color: #ffadad;
            &:hover{
                color: #f94144;
            }
        }
    }
}

