body{
    background-color: white;
    color: black;
    margin: 0;
    font-size: 1rem;
    //SOUTH PARK FONT
    
    @font-face {
        font-family: 'South Park';
        font-style: normal;
        font-weight: normal;
        src: url('../font/south.woff') format('woff');
        }


    background-image: url(../img/fond1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "South Park";

}
.container{
    width: 100%;
    
    
}
.imgBox{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        height: 500px;
    }
}
.info{
    display: flex;
    justify-content: space-around;
    .life1{
        width: 20%;
    }
    .titleConsole{
        width: 40%;
    }
    .life2{
        width: 20%;
    }
}
.lifeBar{
    display: flex;
    max-width: 300px;
    .remainLife{
        height: 30px;
        width: 80%;
        background-color: greenyellow;
    }
    .lostLife{
        height: 30px;
        width: 20%;
        background-color: grey;
    }
}
.fight{
    display: flex;
    width: 100%;
    .player{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .pic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .imgBox{
                width: 50%;
            }
            i{
                color: white;
            }
        }
    }
    
    .vs{
        width: 20%;
    }
}
.buttonGroup{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .buttonAction{
        width: 40%;
        display: flex;
        justify-content: center;
    }
}

