body {
  background-color: white;
  color: white;
  margin: 0;
  font-size: 1.4rem;
  background-image: url(../img/fond1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#itemNameP1 {
  color: #ffbe0b; }

#charInfoP1item {
  color: #ffbe0b; }

#itemNameP2 {
  color: #ffbe0b; }

#charInfoP2item {
  color: #ffbe0b; }

#ulList {
  display: none;
  padding-top: 10px;
  list-style: none;
  text-align: center;
  background-color: blueviolet;
  height: 150px;
  width: 60%;
  overflow: hidden;
  border-radius: 50px; }

.container {
  width: 100%; }

.imgBox {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px; }
  .imgBox img {
    width: 1000px; }

.info {
  display: flex;
  justify-content: center;
  height: 100px; }
  .info .life {
    margin-top: 10px;
    width: 20%;
    display: none; }
  .info .titleConsole {
    width: 50%;
    display: flex;
    justify-content: center; }
    .info .titleConsole img {
      height: 250px; }

.hp {
  display: flex; }
  .hp p {
    margin-top: 2px;
    margin-right: 5px; }

.hp2 {
  display: flex;
  justify-content: flex-end;
  max-width: 300px; }
  .hp2 p {
    margin-top: 2px;
    margin-right: 5px; }

.ulList, li:nth-child(even) {
  list-style: none;
  color: violet;
  text-align: center; }

.ulList, li:nth-child(odd) {
  list-style: none;
  color: bisque;
  text-align: center; }

.lifeBar {
  display: flex;
  max-width: 300px;
  border-radius: 20px;
  overflow: hidden; }
  .lifeBar .green {
    background-color: greenyellow; }
  .lifeBar .orange {
    background-color: orange; }
  .lifeBar .red {
    background-color: orangered; }
  .lifeBar .remainLife {
    height: 30px;
    width: 100%; }
  .lifeBar .lostLife {
    height: 30px;
    width: 0%;
    background-color: grey; }

.fight {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px; }
  .fight .player {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .fight .player .infoRaceItem {
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 100%;
      align-items: center; }
      .fight .player .infoRaceItem h2 {
        margin: 0; }
      .fight .player .infoRaceItem h3 {
        margin-bottom: 0; }
      .fight .player .infoRaceItem p {
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        width: 70%; }
    .fight .player .pic {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%; }
      .fight .player .pic .imgBox {
        margin-top: 20px;
        width: 75%;
        overflow: hidden; }
      .fight .player .pic i {
        color: white;
        cursor: pointer;
        z-index: 1000; }
    .fight .player .confirm button {
      font-family: "south";
      font-size: 2rem;
      border: none;
      background: none;
      outline: none;
      color: #90be6d;
      cursor: pointer; }
      .fight .player .confirm button:hover {
        color: #43aa8b; }
    .fight .player .confirm #CP1item {
      display: none; }
    .fight .player .confirm #CP2item {
      display: none; }
  .fight .vs {
    width: 0%; }

.buttonGroup {
  display: none;
  justify-content: center; }
  .buttonGroup .buttonAction {
    width: 40%;
    display: flex;
    justify-content: center; }
    .buttonGroup .buttonAction button {
      font-family: "south";
      font-size: 3rem;
      border: none;
      background: none;
      outline: none; }
    .buttonGroup .buttonAction .attack {
      color: #caffbf; }
      .buttonGroup .buttonAction .attack:hover {
        color: #90be6d; }
    .buttonGroup .buttonAction .heal {
      color: #fdffb6;
      margin-left: 20px;
      margin-right: 20px; }
      .buttonGroup .buttonAction .heal:hover {
        color: #f9c74f; }
    .buttonGroup .buttonAction .yield {
      color: #ffadad; }
      .buttonGroup .buttonAction .yield:hover {
        color: #f94144; }
